<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
    {{ form_start(change_password) }}
    {% if options.require_current %}
        {{ form_label(change_password.current) }}
        {{ form_widget(change_password.current) }}
        {{ form_errors(change_password.current) }}
    {% endif %}
    {% if options.require_repeated %}
        {{ form_label(change_password.new.new) }}
        {{ form_widget(change_password.new.new) }}
        {{ form_errors(change_password.new.new) }}

        {{ form_label(change_password.new.repeated) }}
        {{ form_widget(change_password.new.repeated) }}
        {{ form_errors(change_password.new.repeated) }}
    {% else %}
        {{ form_label(change_password.new) }}
        {{ form_widget(change_password.new) }}
        {{ form_errors(change_password.new) }}
    {% endif %}
    {{ form_widget(change_password.update) }}
    {{ form_end(change_password) }}
</body>
</html>